.main-content {
  background:blue;
}

.item-price {
  font-size: 2em;
}

.item-desc {
  font-size: 1em;
}

.item-title {
  font-size: 5em;
}


.about-user {
  color:red;
}

li {
  list-style-type: none;
}
